<%- include('partials/Header',{user:user,search:search}) %>
<div class="container">
  <div class="blog-container">
    <% if (message) { %>
      <p><%= message %></p>
    <% } else { %>
      <% blog.forEach(blog => { %>
        <div class="blog-post">
          <h2 class="blog-header"><%= blog.title %></h2>
          <img src="uploads/<%= blog.image %>" alt="<%= blog.title %>" class="blog-image"/>
          <p class="blog-content"><%= blog.content && blog.content.substring(0, 100) %>...   <a href="/blog/<%= blog._id %>" class="read-more">read more</a></p>
          <p class="blog-author">Author: <%= blog.author.name %></p>
          <p class="blog-date">Posted on: <%= blog.createdAt.toLocaleDateString() %></p>
          <div class="blog-footer">
           <p class="blog-likes">Likes: <%= blog.likes.length %></p>
          <div class="blog-buttons">
            <form action="/like/<%= blog._id %>" method="post">
              <button type="submit">
                <% if (blog.likes.includes(user ? user._id : '')) { %>
                 <i class="ri-heart-fill" title="unlike"></i>
                <% } else { %>
                 <i class="ri-heart-line" title="like"></i>
                <% } %>
              </button>  
          </div>
         
        </div>
            </form>
          
        </div>
      <% }) %>
    <% } %>
  </div>
</div>
<%- include('partials/Footer') %>
