<%- include('partials/Header',{user:null,search:null}) %>
<div class="registerContainer">
       <% if(message!==null) {%>
        <span class="bg-<%=color%> message"><%=message%></span>
        <% }%>
        <br>
        <form method="post" action="/reset-password" class="registerForm">
      <h1>Create Password</h1>
        <input type='hidden' value="<%=mail%>" name="username" required/>
        <div class="input-container">
<i class="ri-lock-2-line"></i>
        <input type="password" name="password" placeholder="Password" required/>
        </div>
         <div class="input-container">
            <i class="ri-lock-2-line"></i>
        <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
         </div>
        
          <p class="tip"><i class="ri-lightbulb-flash-line"></i> <span>Stronger = Secure</span></p> 
        <button class="otpBtn" type="submit">Submit</button>
    </form>
</div>
<%- include('partials/Footer') %>